 <main class="row overflow-auto">
    <div class="col pt-4">   
        <h3>Install Software</h3>
        <button id="runBtn2" class="btn btn-primary">Install</button>
        <hr />
            <table class="table table-bordered table-striped mt-3" id="pingTable">
            <thead class="table-dark">
            <tr>
                <th>PackageName</th>
                <th>Estado</th>                
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>